<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="lists" href="/tabs/lists">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forms" href="/tabs/forms">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Forms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cards" href="/tabs/cards">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
