<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>

    <ion-item>
      <ion-input
        label="Full Name"
        labelPlacement="floating"
        placeholder="Juan Dela Cruz"
        [(ngModel)]="fullName">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea
        label="Short Bio"
        labelPlacement="floating"
        [(ngModel)]="bio"
        autoGrow="true">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-select label="Course" placeholder="Select course" [(ngModel)]="course">
        <ion-select-option value="bsis">BS Information Systems</ion-select-option>
        <ion-select-option value="bscs">BS Computer Science</ion-select-option>
        <ion-select-option value="bsit">BS Information Technology</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Year Level</ion-label>
    </ion-item>
    <ion-radio-group [(ngModel)]="yearLevel">
      <ion-item>
        <ion-radio value="1" slot="start"></ion-radio>
        <ion-label>1st Year</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="2" slot="start"></ion-radio>
        <ion-label>2nd Year</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="3" slot="start"></ion-radio>
        <ion-label>3rd Year</ion-label>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-checkbox [(ngModel)]="agree" slot="start"></ion-checkbox>
      <ion-label>I agree to the terms</ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="notifications">Enable Notifications</ion-toggle>
    </ion-item>

  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="submit()">
    Submit
  </ion-button>

</ion-content>
    
